@use 'variables' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	text-align: center;
}

a,
button {
	text-decoration: none;
	outline: none;
	border: none;
	color: inherit;
	font: inherit;
	display: inline-block;
	text-align: left;
	background: inherit;
}

html,
body {
	color: rgb(var(--primary));
	background-color: rgb(var(--background));
	font-family: Inter, system-ui, -apple-system, Segoe UI, sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
}

input,
textarea {
	-webkit-appearance: none;
	outline: none;
	border: none;
	background: none;
}

.wrapper {
	max-width: 100%;
	margin: 1.5rem auto 1rem;
	padding: 0 4rem;
	display: inline-flex;
	flex-flow: column nowrap;
	text-align: left;
}

@media screen and (max-width: 680px) {
	.wrapper {
		padding: 0 2rem;
	}
}

@media screen and (max-width: 420px) {
	.wrapper {
		padding: 0 1rem;
	}
}
